{% extends "layout.html" %}

{% block title %}
    Japan Basin
{% endblock %}

{% block main %}
    <form action="/quiz" method="post">
            <img src="{{url_for('static', filename='Japan_Basin.jpg')}}" class="image"/>
        <div class="form-group position-absolute border border-danger" style="left:320px; top:609px">
            <input autocomplete="off" autofocus class="form-control" name="Korea (North)" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:590px; top:545px">
            <input autocomplete="off" autofocus class="form-control" name="Japan Basin" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:927px; top:317px">
            <input autocomplete="off" autofocus class="form-control" name="Kuril Basin" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:492px; top:492px">
            <input autocomplete="off" autofocus class="form-control" name="Vladivostok" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:306px; top:674px">
            <input autocomplete="off" autofocus class="form-control" name="Pyongyang" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:345px; top:728px">
            <input autocomplete="off" autofocus class="form-control" name="Seoul" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:300px; top:752px">
            <input autocomplete="off" autofocus class="form-control" name="Incheon" placeholder="enter" type="text">
        </div>
         <div class="form-group position-absolute border border-success" style="left:785px; top:494px">
            <input autocomplete="off" autofocus class="form-control" name="Sapporo" placeholder="enter" type="text">
        </div>
        <button class="btn btn-primary" name="template" value="Japan_Basin.html" type="submit">Submit</button>
    </form>
{% endblock %}
