{% extends "layout.html" %}

{% block title %}
    Middle East Arabian Sea
{% endblock %}

{% block main %}
    <form action="/quiz" method="post">
            <img src="{{url_for('static', filename='Middle_East_Arabian_Sea.jpg')}}" class="image" />
        <div class="form-group position-absolute border border-danger" style="left:260px; top:258px">
            <input autocomplete="off" autofocus class="form-control" name="Turkey" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:336px; top:345px">
            <input autocomplete="off" autofocus class="form-control" name="Syria" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:415px; top:391px">
            <input autocomplete="off" autofocus class="form-control" name="Iraq" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:578px; top:401px">
            <input autocomplete="off" autofocus class="form-control" name="Iran" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:415px; top:591px">
            <input autocomplete="off" autofocus class="form-control" name="Saudi Arabia" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:470px; top:696px">
            <input autocomplete="off" autofocus class="form-control" name="Yemen" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:614px; top:621px">
            <input autocomplete="off" autofocus class="form-control" name="Oman" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:573px; top:553px">
            <input autocomplete="off" autofocus class="form-control" name="United Arab Emirates" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:806px; top:257px">
            <input autocomplete="off" autofocus class="form-control" name="Tajikistan" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:713px; top:379px">
            <input autocomplete="off" autofocus class="form-control" name="Afghanistan" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:749px; top:461px">
            <input autocomplete="off" autofocus class="form-control" name="Pakistan" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:921px; top:586px">
            <input autocomplete="off" autofocus class="form-control" name="India" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:323px; top:555px">
            <input autocomplete="off" autofocus class="form-control" name="Red Sea" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:264px; top:425px">
            <input autocomplete="off" autofocus class="form-control" name="Suez Canal" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:427px; top:735px">
            <input autocomplete="off" autofocus class="form-control" name="Bab al Mandab" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:477px; top:752px">
            <input autocomplete="off" autofocus class="form-control" name="Gulf of Aden" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:684px; top:672px">
            <input autocomplete="off" autofocus class="form-control" name="Arabian Sea" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:657px; top:545px">
            <input autocomplete="off" autofocus class="form-control" name="Gulf of Oman" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:529px; top:464px">
            <input autocomplete="off" autofocus class="form-control" name="Arabian Gulf" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:409px; top:365px">
            <input autocomplete="off" autofocus class="form-control" name="Baghdad" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:552px; top:322px">
            <input autocomplete="off" autofocus class="form-control" name="Tehran" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:784px; top:350px">
            <input autocomplete="off" autofocus class="form-control" name="Kabul" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:749px; top:531px">
            <input autocomplete="off" autofocus class="form-control" name="Karachi" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:847px; top:372px">
            <input autocomplete="off" autofocus class="form-control" name="Islamabad" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:907px; top:473px">
            <input autocomplete="off" autofocus class="form-control" name="Delhi" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:834px; top:651px">
            <input autocomplete="off" autofocus class="form-control" name="Mumbai" placeholder="enter" type="text">
        </div>
        <button class="btn btn-primary" name="template" value="Middle_East_Arabian_Sea.html" type="submit">Submit</button>
    </form>
{% endblock %}