{% extends "layout.html" %}

{% block title %}
    South Asia
{% endblock %}

{% block main %}
    <form action="/quiz" method="post">
            <img src="{{url_for('static', filename='South_Asia.jpg')}}" class="image"/>
        <div class="form-group position-absolute border border-danger" style="left:340px; top:437px">
            <input autocomplete="off" autofocus class="form-control" name="India" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:718px; top:247px">
            <input autocomplete="off" autofocus class="form-control" name="China" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:534px; top:395px">
            <input autocomplete="off" autofocus class="form-control" name="Bangladesh" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:733px; top:467px">
            <input autocomplete="off" autofocus class="form-control" name="Laos" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:699px; top:545px">
            <input autocomplete="off" autofocus class="form-control" name="Thailand" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:758px; top:603px">
            <input autocomplete="off" autofocus class="form-control" name="Cambodia" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:834px; top:573px">
            <input autocomplete="off" autofocus class="form-control" name="Vietnam" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:843px; top:487px">
            <input autocomplete="off" autofocus class="form-control" name="Hainan Island" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-danger" style="left:1016px; top:410px">
            <input autocomplete="off" autofocus class="form-control" name="Taiwan" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:504px; top:556px">
            <input autocomplete="off" autofocus class="form-control" name="Bay of Benghal" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:715px; top:645px">
            <input autocomplete="off" autofocus class="form-control" name="Gulf of Thailand" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:891px; top:492px">
            <input autocomplete="off" autofocus class="form-control" name="South China Sea" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:984px; top:688px">
            <input autocomplete="off" autofocus class="form-control" name="Sulu Sea" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-primary" style="left:994px; top:425px">
            <input autocomplete="off" autofocus class="form-control" name="Taiwan Strait" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:339px; top:323px">
            <input autocomplete="off" autofocus class="form-control" name="Delhi" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:263px; top:501px">
            <input autocomplete="off" autofocus class="form-control" name="Mumbai" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:707px; top:576px">
            <input autocomplete="off" autofocus class="form-control" name="Bangkok" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:738px; top:624px">
            <input autocomplete="off" autofocus class="form-control" name="Phnom Penh" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:816px; top:646px">
            <input autocomplete="off" autofocus class="form-control" name="Ho Chi Minh City" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:1031px; top:577px">
            <input autocomplete="off" autofocus class="form-control" name="Manila" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:776px; top:447px">
            <input autocomplete="off" autofocus class="form-control" name="Hanoi" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:859px; top:418px">
            <input autocomplete="off" autofocus class="form-control" name="Guangzhou" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:930px; top:441px">
            <input autocomplete="off" autofocus class="form-control" name="Hong Kong" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:872px; top:463px">
            <input autocomplete="off" autofocus class="form-control" name="Zhanjiang" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:1036px; top: 381px">
            <input autocomplete="off" autofocus class="form-control" name="Taipei" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:1013px; top:328px">
            <input autocomplete="off" autofocus class="form-control" name="Wenzhou" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:1028px; top:288px">
            <input autocomplete="off" autofocus class="form-control" name="Ningbo" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:976px; top:261px">
            <input autocomplete="off" autofocus class="form-control" name="Nanjing" placeholder="enter" type="text">
        </div>
        <div class="form-group position-absolute border border-success" style="left:1042px; top:266px">
            <input autocomplete="off" autofocus class="form-control" name="Shanghai" placeholder="enter" type="text">
        </div>
        <button class="btn btn-primary" name="template" value="South_Asia.html" type="submit">Submit</button>
    </form>
{% endblock %}